// Font
$color_font: #001529;

// colors
$color_primary: #427aa1;
$color_secondary: #ed6a5a;
$color_white: #ffffff;
$color_black: #000000;

// Icons
$color_edit_icon: color_primary;
$color_delete_icon: $color_secondary;

// Font
$font-family: 'Montserrat', sans-serif;

$font_weight_light: 300;
$font_wieght_regular: 400;
$font_weight_bold: 600;
