.ant-layout-content {
    padding: 0 !important;
    margin: 0 !important;
    height: calc(100vh - 72px);

    .title-page {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid $color_primary;
        padding: 15px;

        .title-page__container {
            display: flex;
            align-items: center;
            h1 {
                font-size: 25px;
                font-weight: $font_weight_bold;
            }

            .title-page__container__back-btn {
                margin-right: 15px;
            }
        }
    }
    .pm-container {
        padding: 0 15px;
        width: 100%;
        height: calc(100% - 72px);
        // display: flex;

        .pm-form-builder {
            &.padding-right {
                padding-right: 15px;
            }

            .ant-input-number {
                width: 100% !important;
            }
        }

        .aside-col {
            padding: 15px;
        }
    }
}
